.errorContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(145, 176, 41);
    padding: 60px 0;

      
  .errorContent {
    text-align: center;
    background: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .errorTitle {
    font-size: 3rem;
    color: #F26531;
    margin-bottom: 1rem;
  }
  
  .errorMessage {
    font-size: 1.2rem;
    color:#000000;
    margin-bottom: 2rem;
  }
  
  .refreshButton {
    padding: 0.5rem 2rem;
    font-size: 1rem;
    color: #fff;
    background-color: #F26531;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .refreshButton:hover {
    background-color: #c9302c;
  }
  
  }


  /* NOTFOUND */
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #f2f2f2;
    text-align: center;
  }
  
  .content {
    max-width: 500px;
    padding: 20px;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .title {
    font-size: 10rem;
    margin: 0;
    color: #ff6b6b;
  }
  
  .message {
    font-size: 1.5rem;
    margin: 20px 0;
    color: #333;
  }
  
  .button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 1rem;
    color: white;
    background-color: #17d30d;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color:rgb(145, 176, 41);
  }
  
  @media (max-width: 600px) {
    .title {
      font-size: 5rem;
    }
  
    .message {
      font-size: 1.2rem;
    }
  
    .button {
      font-size: 0.9rem;
    }
  }