
.searchPropertiesContainer {
    padding: 40px 0;

    h1 {
        text-align: center;
        margin: 20px 0;
    }

    .body {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    @media (max-width: 1200px) { 
        .body {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media (max-width: 768px) { 
        .body {
            grid-template-columns: 1fr;
        }
    }
}
 
/* body */
 
